#nav1:hover {
    text-decoration: underline;
}


#nav2:hover {
    text-decoration: underline;
}


#nav3:hover {
    text-decoration: underline;
}

* {
    transition: all 500ms;
    scroll-behavior: smooth;
}